.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--padding-lg);
    border: 2px solid var(--color-border);
}

.image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.loader {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgb(255 255 255 / 70%);
    z-index: 1;
}

.title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.category {
    margin-top: auto;
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    color: var(--color-text-muted);
}

.price {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
}

