:root {
    // COLORS
    --color-bg: #fff;
    --color-bg-gray: #9da4b6;
    --color-primary: #e60023;
    --color-primary-hover: #c81a28;
    --color-dark: #11131a;
    --color-header-top: #1a1d28;
    --color-text: #222;
    --color-text-muted: #6b7280;
    --color-text-light: #fff;
    --color-border: #eaecef;

    // SPACES
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;

    // RADIUS
    --radius-md: 6px;

    // SIZES
    --container-width: 1200px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;

    // TEXT
    --font-size-md: 14px;
    --font-size-lg: 18px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // transition
    --transition-fast: 0.15s ease;

    color-scheme: light;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    background: var(--color-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    appearance: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:disabled {
    cursor: not-allowed;
}

.section-container-md {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
}
