@use '@/styles' as *;

.link {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    transition: var(--transition-fast);
    white-space: nowrap;
}

@include hover {
    .link:hover {
        color: var(--color-text-muted);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.user {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}
